.difficulty-root {
    -fx-background-color: white;
}

.difficulty-title {
    -fx-font-family: "Teko Bold";
    -fx-font-size: 72px;
}

.step-label {
    -fx-font-family: "Teko Bold";
    -fx-font-size: 24px;
    -fx-padding: 10px 0 0 10px;
}

.difficulty-panel {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 30;
    -fx-padding: 20px;
}

.difficulty-button {
    -fx-font-family: "Teko Bold";
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-font-size: 24px;
}

.difficulty-button-selected {
    -fx-font-family: "Teko Bold";
}

.info-label {
    -fx-font-family: "Teko Bold";
    -fx-font-size: 24px;
}

.selected-difficulty-label {
    -fx-font-family: "Teko Bold";
    -fx-font-size: 48px;
    -fx-font-weight: bold;
}

.bottom-button {
    -fx-font-family: "Teko Bold";
    -fx-background-color: #efefef;
    -fx-font-size: 22px;
    -fx-text-fill: #222;
    -fx-background-radius: 40;
    -fx-pref-width: 240px;
    -fx-pref-height: 60px;
}
