.level-root {
    -fx-background-color: white;
}

.level-title {
    -fx-font-family: "Teko Bold";
    -fx-font-size: 72px;
}

.level-panel {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 30;
    -fx-padding: 20px;
}

.level-button {
    -fx-font-family: "Teko Bold";
    -fx-font-size: 24px;
    -fx-font-weight: normal;
}

.level-button-selected {
    -fx-font-family: "Teko Bold";
}

.info-label {
    -fx-font-family: "Teko Bold";
    -fx-font-size: 16px;
}

.selected-level-label {
    -fx-font-family: "Teko Bold";
    -fx-font-size: 48px;
    -fx-font-weight: bold;
}

.bottom-button {
    -fx-background-color: #efefef;
    -fx-text-fill: #222;
    -fx-background-radius: 40;
    -fx-pref-width: 240px;
    -fx-pref-height: 60px;
    -fx-font-family: "Teko Bold";
    -fx-font-size: 22px;
}
